@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

:root {
  --body-bg-color: #dce4e3;
  --green: #18c29c;
  --light-green: #8ed7c6;
  --light-grey: #dce4e3;
  --text-color: #084236;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--body-bg-color);
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  font-size: 15px;
}

h2 {
  margin: 20px;
}

@media (max-width: 280px) {
  body {
    position: relative;
  }
  h2 {
    position: absolute;
    left: 80px;
    z-index: -1;
  }
}

ul {
  list-style-type: none;
}

li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 25px 15px;
  padding: 15px;
  position: relative;
}

ul li span {
  margin-left: 55px;
  position: absolute;
}

#sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: var(--green);
  overflow: hidden;
}

#menu {
  display: flex;
  place-content: end;
  position: relative;
  margin: 24px 28px 0 24px;
}

#logo {
  position: absolute;
  left: -200px;
}

#search {
  background: var(--light-green);
  border-radius: 12px;
}

#logout {
  display: flex;
  position: relative;
  background: var(--light-green);
  place-content: end;
  align-items: center;
  padding: 15px 28px;
}

#user-info {
  position: absolute;
  display: flex;
  left: -200px;
}

.spacer {
  flex-grow: 1;
}

.user-photo {
  /* width: 45px;
  height: 45px; */
  max-width: 20%;
  height: auto;
  border-radius: 12px;
  margin: 0 10px;
}

.user-name {
  font-size: 15px;
}
.user-profession {
  font-size: 12px;
}

@media (max-width: 400px) {
  .user-photo {
    display: none;
  }
  #user-info {
    margin-left: 20px;
  }
}

.bar-open {
  animation-name: bar-open;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.bar-close {
  animation-name: bar-close;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes bar-open {
  from {
    padding-left: 30px;
  }
  to {
    padding-left: 250px;
  }
}

@keyframes bar-close {
  from {
    padding-left: 250px;
  }
  to {
    padding-left: 30px;
  }
}

.hide-elements {
  animation-name: hide-elements;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.show-elements {
  animation-name: show-elements;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes hide-elements {
  0% {
    left: 0;
  }
  100% {
    left: -200px;
  }
}

@keyframes show-elements {
  0% {
    left: -200px;
  }
  100% {
    left: 0;
  }
}
